{% extends 'accounts/base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center my-4 py-2 text-secondary">Musician Detail</h4>
            <!-- <a href="#" class="btn btn-success btn-outline-info text-dark btn-block">Create Album</a> -->

            <table class="table bg-dark text-light text-center ">
                <tr>
                    <th>Name</th>
                    <th>Album</th>
                    <th>Instrument</th>
                    <th>Release date</th>
                    <th>Season</th>
                    <th></th>
                </tr>
                {% for albums in album %}
                <tr>
                    <td>{{albums.artist.first_name}}</td>
                    <td>{{albums}}</td>
                    <td>{{albums.artist.instrument}}</td>
                    <td>{{albums.release_date}}</td>
                    <td>
                        {% for season in albums.season.all %} {{season}} , {% endfor %}
                    </td>
                    <td><a href="{% url 'update_musician' albums.id %}" class="btn btn-outline-info  btn-block">Update</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}